/* Estilo para el degradado */
.gradient-background {
    -fx-background-color: #333;
}

/* Estilos para Títulos */
.title {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #fff; /* Texto blanco */
    -fx-padding: 20px;
}

/* Estilos para Botones */
.button-large {
    -fx-font-size: 18px;
    -fx-padding: 12px 24px; /* Más relleno horizontal */
    -fx-background-radius: 8px; /* Bordes redondeados */
}

.button-primary {
    -fx-background-color: #4CAF50; /* Verde */
    -fx-text-fill: #fff;
}

.button-primary:hover {
    -fx-background-color: #45a049; /* Verde más oscuro al pasar el mouse */
}

.button-warning {
    -fx-background-color: #FFC107; /* Amarillo */
    -fx-text-fill: #333;
}

.button-warning:hover {
    -fx-background-color: #e0a800; /* Amarillo más oscuro al pasar el mouse */
}

.button-danger {
    -fx-background-color: #F44336; /* Rojo */
    -fx-text-fill: #fff;
}

.button-danger:hover {
    -fx-background-color: #e53935; /* Rojo más oscuro al pasar el mouse */
}

/* Estilos para las Etiquetas */
.label {
    -fx-font-weight: bold;
    -fx-text-fill: #fff; /* Texto blanco */
    -fx-padding: 10px 0;
}

/* Estilos para los Campos de Texto */
.text-field {
    -fx-background-color: #242424; /* Gris oscuro */
    -fx-border-color: #555; /* Borde gris más oscuro */
    -fx-border-radius: 8px; /* Bordes redondeados */
    -fx-padding: 12px;
    -fx-font-size: 16px;
    -fx-text-fill: #fff; /* Texto blanco */
    -fx-focus-color: #4CAF50; /* Verde al hacer clic */
    -fx-unfocus-color: #555; /* Gris oscuro cuando no está en foco */
}

/* Estilos para la Tabla */
.table-view {
    -fx-background-color: #242424; /* Azul oscuro */
    -fx-border-color: #555; /* Borde gris más oscuro */
    -fx-border-width: 1px;
    -fx-border-radius: 8px; /* Bordes redondeados */
    -fx-padding: 20px;
    -fx-font-size: 16px;
    -fx-table-cell-border-color: transparent; /* Sin bordes entre celdas */
    -fx-text-fill: #000;
}

.table-view .table-column {
    -fx-font-weight: bold;
    -fx-text-fill: #000; /* Texto blanco */
    -fx-alignment: CENTER; /* Alineación centrada */
}

.table-view .table-cell {
    -fx-padding: 12px;
    -fx-background-color: transparent;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #444; /* Gris más oscuro para fila seleccionada */
    -fx-text-fill: #fff; /* Texto blanco */
}

/* Ajustes adicionales */
.table-view .column-header-background {
    -fx-background-color: #444; /* Gris más oscuro para fondo de cabecera */
    -fx-border-color: #555; /* Borde gris más oscuro */
    -fx-border-width: 0 0 1 0; /* Solo borde inferior */
}

.table-view .column-header {
    -fx-background-color: transparent;
}

/* Efecto Hover en la Tabla */
.table-view .table-row-cell:hover {
    -fx-background-color: #34495e; /* Azul más oscuro al pasar el mouse */
}